* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

input, textarea, select {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

img {
    vertical-align: top;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}